// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
main{
    padding: 50px;
    background-color:lightlategrey;
}
.new_post{
    padding: 10px;
    margin: 10px;
}
.edit_post{
    padding: 20px;
}
.show{
    padding: 30px;
}


