<%- include("./partials/header") %>
<h1>WELCOME</h1><br><br>
<form action="/" method="POST">  
<div class="Welcome">
  <label for="UserName">Enter UserName</label> <br><br>
  <input type="text" id="UserName" name="UserName">
  <br><br>
  <input type="submit" value="Submit">
  </div>
</form>  

<%- include("./partials/footer") %>

